@import "@/styles/base/_variables.scss";
.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: $background-color-white;

  .carouselcontainer {
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
      width: 95%;

      flex-direction: column;
    }
  }
}

.itemWrapperStyles {
  background-color: transparent;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 8vh;
    background-color: $background-color-green;
    border-radius: 50%;
    margin-bottom: 5vh;
  }

  img {
    height: 3vh;
    width: auto;
    margin-bottom: 5vh;
  }
}

.itemName {
  margin-bottom: 3vh;
  font-size: 2.2vh;

  span {
    color: $font-color-black1;
  }
}

.itemStars {
  margin-bottom: 2vh;
}

.itemText {
  color: #767574;
  text-align: center;
  max-width: 120vh;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.carouselcontainer {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselcontent {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0vh 8vh;
}

.arrowscontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
  align-self: center;
  width: 20vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
  position: relative;

  @media (max-width: 800px) {
    display: none;
  }
}

.arrowscontainermobile {
  display: none;
  @media (max-width: 800px) {
    display: flex;
    width: 20vh;
    justify-content: space-between;
    margin-top: -5vh;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperslide {
  display: flex;
  justify-content: space-between;
}



.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.customprev,
.customnext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 8vh;
  border: 0.2vh solid $font-color-black1; // Borde negro por defecto
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  color: $font-color-black1; // Flecha negra

  &:hover {
    background-color: $background-color-green;
    border-color: $background-color-green;
    color: $font-color-white; // Flecha blanca
  }
}
