.section {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;

  @media (max-width: 800px) {
    margin-top: 5vh;
  }



  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 98%;
    @media (max-width: 800px) {
      width: 95%;
    }

    .buttoncontainer {
      display: flex;
      align-items: center;
      width: 70vh;
      justify-content: space-between;
      margin-top: 5vh;

      @media (max-width: 945px) {
        flex-direction: column;
        height: 18vh;
   
      }
        
    }

    .titlesection {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 10vh 0vh;

      .description {
        max-width: 120vh;
        margin-top: 5vh;
      }
      h2 {
        max-width: 130vh;
      }

     
    }

    .section1 {
      display: flex;
      flex-direction: row;

      width: 100%;
      height: 80vh;
      margin-bottom: 20vh;

      @media (max-width: 1000px) {
        height: auto;
      }

      @media (max-width: 800px) {
        height: auto;
        flex-direction: column;
        margin-bottom: 10vh;
      }
    }

   
    .imagecontainer {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      @media (max-width: 800px) {
        width: 100%;
      }

      img {
        height: 90vh;
        width: 90%;
        object-fit: cover;

        @media (max-width: 800px) {
          width: 100%;
        }
      }
    }

    .textcontainer1 {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5vh;


      .text {
        margin-bottom: 3vh;
        margin-right: 5vh;
        text-align: justify;
        text-justify: inter-word;
      }
      @media (max-width: 800px) {
        width: 100%;
        padding: 0vh;
        margin-top: 10vh;

        .text{
          margin-right: 0vh;
          margin-bottom: 0vh;
         
        }
      }
    }

   
  }
}
