@import "@/styles/base/_variables.scss";

// .main{
//   overflow-x: hidden;
// }

.buttoncontainer {
  position: absolute;
  bottom: 7vh;
  right: 5vh;

  @media (max-width: 800px) {
    display: none;
  }
}
