.sectionlinks {
  display: inline-flex;
  align-items: center;
  height: 20px;
  outline: none;
  cursor: pointer;

  h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 200;
   
  }

  img {
    height: 12px;
    width: 20px;
  }
}
