.section {
  display: flex;
  background-color: #f0ebe3;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  overflow: hidden;

  .motionDiv {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: transform; 
  }

  .container {
    position: relative; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;

    .imagecontainer {
      height: 100vh;
      width: auto;

      img {
        height: 90%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
