@import "@/styles/base/_variables.scss";
.contactcontainer {
  .title {
    color: $font-color-green;
    margin-bottom: 3vh;

    @media (max-width: 768px) {
      margin-bottom: 1vh;
    }
  }

  .linkcontainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
    align-items: center;
    p {
      margin-left: 2vh;
    }
  }

  a {
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 0.2vh;
    color: black !important;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
