@import "@/styles/base/_variables.scss";

.tratamientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: $background-color-foot;

  h1 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: $font-size-Agp-big;
    font-weight: 400;
    color: $font-color-black1;
    font-family: $font-inter;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 10vh;
  }

  .imagecontainer {
    position: relative;
    width: 32%;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 98%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }

 
  }

  /* 🔹 Overlay que aparece en hover */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: #E6E0DB;
    display: flex;
    color: $font-color-black1;
    opacity: 0;
    transition: opacity 0.6s ease-in-out, background-color 0.9s ease-in-out;
  }

  .imagecontainer:hover .overlay {
    opacity: 1;
  }

  /* 🔹 Lista de tratamientos */
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .item{
    width: 100%;
    border-bottom: 1px solid black;
  }

  li {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 8px 15px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
    display: flex;
    width: 100%;
    justify-content: space-between;


  }

  /* 🔹 Flecha aparece en hover */
  .arrow {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative; // Cambia absolute por relative para que siga el flujo del contenido
    margin-left: auto;  // Empuja la flecha hacia la derecha dentro del <li>
  }

  li:hover {
    color: $font-color-black1;
  }

  li:hover .arrow {
    opacity: 1;
    transform: translateX(5px);
  }


  .topOverlay {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .title {
    font-size: 4.5vw;
    color: white;
    max-width: 40vh;
  }
  
  .circle {
    position: absolute;
    top: 4vh;
    right: 3vh;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color:#F5F4F4;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circlearrow {
    font-size: 1.2rem;
    color: black;
    z-index: 1000;
  }
}
