@import '@/styles/base/_variables.scss';




.buttoncontainer{
  position: absolute;
  bottom:7vh;
  right: 5vh

}


.section{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;


  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 99%;
      height: auto;
      margin-top: 20vh;




      p{
        margin-top: 7vh;
        margin-bottom: 17vh;
        text-align: center;
        max-width: 120vh;
      }
  }
}