.section {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  @media (max-width: 800px) {
    margin-top: 5vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 98%;
    // @media (max-width: 800px) {
    //   width: 96%;
    // }

    .titlesection {
      display: flex;
      flex-direction: column;
      height: 55vh;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 10vh 0vh;

      p {
        max-width: 130vh;
      }
      h2 {
        max-width: 130vh;

        @media (max-width: 800px) {
          margin-bottom: 5vh;
          margin-top: 5vh;
        }
      }

      @media (max-width: 800px) {
        height: auto;
      }
    }

    .itemssection {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      margin-bottom: 10vh;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60vh; // 🔹 Establece una altura fija para todos los items
      @media (max-width: 800px) {
        height: auto;
      }

      // Cada fila tiene dos columnas: texto e imagen
      .textContainer {
        display: flex;
        flex-direction: column;
    
        justify-content: space-around;
        padding: 2vh;
        width: 50%;
        height: 100%; // 🔹 Mantiene la misma altura que la fila



        @media (max-width: 800px) {
          width: 100%;
          padding: 0vh;
          margin-top: 3vh;
        }
      }

      .notnumber {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      span {
        text-align: start;
      }
      .titulo {
        margin-bottom: 4vh;
        text-align: start;
      }

      .texto {
        color: #666666;
        text-align: start;
      }

      .imageContainer {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%; // 🔹 Mantiene la misma altura que la fila
        overflow: hidden; // 🔹 Evita deformaciones
      }

      .image {
        width: 100%; // 🔹 La imagen ocupa todo el ancho disponible
        height: 100%; // 🔹 Mantiene la altura
        object-fit: cover; // 🔹 Ajusta la imagen sin deformarla
      }

      &.reverse {
        flex-direction: row-reverse;
      }
    }

    // 🔹 Responsive: Cambia a una sola columna en pantallas pequeñas
    @media (max-width: 800px) {
      .row {
        flex-direction: column !important; // 🔹 Forzamos columna en todas
        text-align: center;

        .imageContainer {
          order: -1; // Imagen arriba cuando es columna
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
