.section {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;

  .container {
    display: flex;
    height: auto;
    width: 98%;
    padding: 3vh;
    @media (max-width: 800px) {
      padding: 1vh;
    }

    a {
      text-decoration: underline;
      text-decoration-color: black;
      text-underline-offset: 0.2vh;
      color: black !important;
    }

    .title {
      font-weight: 600;
      margin-bottom: 2vh;
    }

    .left {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: auto;
      padding-right: 3vh;
      justify-content: space-between;

      .titlecontactcontainer {
        display: flex;
        flex-direction: row;

        img {
          margin-right: 2vh;
        }

        @media (max-width: 800px) {
          flex-direction: column;

          img {
            margin-bottom: 2vh;
          }
        }
      }

      .imagecontainermobile {
        display: none;
        @media (max-width: 800px) {
          display: flex;

          img {
            width: 100%;
            height: 300px;
          }
        }
      }

      .first {
        display: flex;
        flex-direction: column;
        // height: 30%;
        width: 100%;
        margin-top: 3vh;

        .description{
          margin-bottom: 3vh;
          max-width: 90%;
        }
      }

      .second {
        display: flex;
        flex-direction: row;
        // height: 30%;
        width: 100%;
        margin-top: 10vh;
    
        margin-bottom: 6vh;
        @media (max-width: 800px) {
          flex-direction: column;
        }

        .column1 {
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 100%;
          @media (max-width: 800px) {
            margin-top: 4vh;
            width: 100%;
          }
        }

        .column2 {
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 100%;
         
          @media (max-width: 800px) {
            margin-top: 4vh;
            margin-bottom: 4vh;
            width: 100%;
          }
        }
      }

      .third {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 7vh;
        @media (max-width: 800px) {
          margin-top: 8vh;
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100vh;

      @media (max-width: 800px) {
        display: none;
      }

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 800px) {
    .container {
      flex-direction: column;
      height: auto;

      .left,
      .right {
        width: 100%;
      }

      .right {
        img {
          width: 100%; // Imagen se ajusta al ancho del contenedor
          height: 300px; // Puedes ajustar la altura fija para que no crezca demasiado
        }
      }
    }
  }
}
