@import "@/styles/base/_variables.scss";
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: $font-color-white;
  padding: 10vh 0vh;

  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
      max-width: 160vh;
     text-align: center;
     margin-top: 5vh;


    }
  }

}
