@import "@/styles/base/_variables.scss";
.section {
  display: flex;
  width: 100%;
  height: 30vh;
  justify-content: center;
  align-items: center;
  background-color: $background-color-foot;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
  }
}

.cardWrapper {
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardcontainer {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.styledLink {
  text-decoration: none;
  color: inherit;
  display: block; /* Para que el enlace cubra todo el div */
  width: 100%;
  height: 100%;
}

.cardText2 {
  color: $font-color-green;
  font-weight: 400;
  text-decoration: underline;
}
