
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin:0px;
  background-color: #ffffff;
}


/* globals.css */

/* Define las variables para las familias de fuentes */
:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

/* Aplica Inter a todo el cuerpo por defecto */
body {
  font-family: var(--font-inter);
}

/* Clases específicas para diferentes grosores de Montserrat */
.montserratnormal {
  font-family: var(--font-montserrat);
  font-weight: 400;
}

.montserratbold {
  font-family: var(--font-montserrat);
  font-weight: 700;
}


/* 8EDFEC
44B9CC
000000
DADBDB */

/* Sobrescribir estilos del carrusel */

