@import './variables'; 

body {
    font-family: $font-inter;
    // color: $text-color;
    // background-color: $background-color;
  }
  

  .typography {
    &-Ag-P {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 2.6vh;
      line-height: 140%;
      color: $font-color-black1;
      letter-spacing: 0.05vh;
    }



    &-Ag-Numbers {
      font-family: $font-inter;
      font-weight: lighter;
      font-weight: 200; 
      font-size: 9vh;
      color: $font-color-black1;
    }

    &-Ag-P-Small {
      font-family: $font-inter;
      font-weight: 500;
      font-size: 2vh;
      line-height: 150%;
      color: #565555;
      letter-spacing: 0.05vh;
    }
      
    &-Ag-P-Big {
      font-family: $font-inter;
      font-weight: 200;
      font-size: 4.5vh;
      line-height: 120%;
    }

    &-Ag-Camino-Final-H1 {
      font-family: $font-inter;
      font-weight: 200;
      font-size: 5.5vh;
      line-height: 110%;
      color:$font-color-black1;
    }

    &-Ag-Camino-Label {
      font-family: $font-inter;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2.2vh;
      line-height: 100%;
      letter-spacing: 0.05vh;
      color:$font-color-green
    }

    &-Ag-Camino-Final-H2 {
      font-family: $font-inter;
      font-weight: 200;
      font-size: 4.5vh;
      line-height: 110%;
      color:$font-color-black1;
    }

  }


  // Reducir fuentes en pantallas de 800px o menos
@media (max-width: 800px) {
  .typography {
    &-Ag-P {
      font-size: 2.2vh;
    }

    &-Ag-Numbers {
      font-size: 7vh;
    }

    &-Ag-P-Small {
      font-size: 1.8vh;
    }

    &-Ag-P-Big {
      font-size: 3.4vh;
    }

    &-Ag-Camino-Final-H1 {
      font-size: 4.5vh;
    }

    &-Ag-Camino-Label {
      font-size: 2vh;
    }
  }
}