// Colores

//font-color
$font-color-white: #ffffff;
$font-color-black1: #281A0F;
$font-color-green: #7a8025;
$font-color-black2: #2d1f15;
$font-color-grey1: #666666;
$font-color-grey2: #8c8885;

//background-color
$background-color-nav: #fbf8f6;
$background-color-foot: #f9f8f7;
$background-color-green: #bcc090;
$background-color-white: #ffffff;

// font-family
$font-montserrat: 'Montserrat', sans-serif;
$font-inter: 'Inter', sans-serif;




// font-size
$font-size-Agp: 3vh;
$font-size-Agp-small: 2vh;
$font-size-Agp-big: 5vh;




// Tamaños de texto
$h1-size: 2rem;
$h2-size: 1.75rem;
$p-size: 1rem;

// Espaciados
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;